@charset "UTF-8";
/* This CSS File was created by www.pixelateddesign.co.uk */
/* This is free if you have purchased this templete please contact us useign the email */
/* info@pixelateddesign.co.uk along with the amount you payed for your website */

/* This file remains property of www.pixelateddesign.co.uk however this is free to use for personal use */

body {
    margin: 0px;
    padding: 0px;
    background-attachment: scroll;
    background-image: url(../images/background.jpg);
    background-repeat: repeat-x;
    background-position: left top;
}

.parent{
    width: 100%;
    min-height: 90%;
    top: 0;
    left: 0;
    overflow:  hidden;
}

.block-center {
    width: 250px;
    min-height: 450px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

}
.block-center-button {
    width: 400px;
    height: 200px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
}
.block-center-profile{
    width: 1100px;
    min-height: 200px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.block-center-orders{
    width: 800px;
    min-height: 500px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.block-center-addOrder {
    width: 400px;
    height: 100%;
    min-height: 500px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.block-center-createGroup {
    width: 350px;
    height: 100%;
    min-height: 500px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.block-center-user {
    width: 340px;
    height: 100%;
    min-height: 500px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.block-center-user table{
    margin-left: 60px;
}
.block-center-user h2 {
    margin-left:19px;
}
.block-center-createGroup a{
    text-decoration: none;
    font-size: 15px;
}
.block-center-login {
    width: 250px;
    min-height: 210px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.block-center-order {
    width: 610px;
    height: 100%;
    min-height: 500px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.block-center-contacts {
    width: 200px;
    height: 100%;
    min-height: 500px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.block-center-contacts h2{
    margin-left: 30px;
}
.block-center-group{
    width: 340px;
    height: 100%;
    min-height: 500px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.block-center-group h2{
    margin-left: 80px;
}

.a4list {
    min-width: 600px;
    min-height:800px;
    background-color: #f6faf8;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 5px 5px 20px 5px;
    font-family: "Century Gothic", serif;
}
.a4list h2{
    text-align: center;
    padding-top: 30px;
    display: inline-block;
    margin-left: 150px;
}
.a4list h3 {
    font-weight: normal;
    margin-left: 40px;
}
.a4list p {
    font-size:14px;
    margin-left: 40px;
}
.a4list hr {
    margin: 30px;
}
.a4list table{
    margin-left: 40px;
    font-size: 14px;
}
#a4table_td{
    min-width: 80px;
}
#a4table_td a{
    font-weight: bold;
    text-decoration: none;
    color: #6c7274;
}
#a4table_td a:hover{
    color: #c8c8c8;
}
#a4table_td_phone{
    width: 150px;
}
#ic_content {
    width: 30px;
    opacity:0.5;
}
#ic_content:hover {
    opacity:0.8;
}
#ic_settings{
    width: 15px;
    opacity:0.5;
}
#ic_settings:hover {
    opacity:0.8;
}
#addOrder_form{
    margin-top: 40px;
}
#img_add_bid{
    width:28px;
    height:28px;
    margin-left: 5px;
    margin-bottom: 0px;
    opacity: 0.5;
}
#img_add_bid:hover{
    opacity:0.8;
}
#hiden_input{
    display: none;
}
.delete_group{
    text-align: center;
    opacity:0.4;
}
.delete_group a:hover{
    opacity:0.7;
}
.delete_group_text{
    padding-left: 4px;
    text-align: center;
    line-height: 20px;
    padding-top: 13px;
    font-family: Verdana, serif;
}
#arrow_back{
    opacity: 0.3;
}
#arrow_back:hover{
    opacity:0.6;
}
#delete_group_div{
    margin-top:150px;
}
#arrow_back_absolute{
    margin-left: 30px;
    display: inline-block;
}
.profile_info{
    display: inline-block;
    min-width: 320px;
    min-height: 500px;
    padding: 20px;
    float:left;
}
.profile_info h2 {
    font-family: "Century Gothic", serif;
    font-weight: normal;
}
.profile_info p {
    font-family: "Century Gothic", serif;
    font-weight: normal;
}
.profile_list{
    padding: 20px;
    width: 600px;
    display: inline-block;
}
.profile_list h2 {
    font-weight: normal;
    font-family: "Century Gothic", serif;
    margin-left: 18px;
}
.profile_list p {
    font-family: "Century Gothic", serif;
}
.profile_table {
    font-family: "Century Gothic", serif;
}
.profile_table td {
    padding: 3px 5px;
}
.profile_table td:first-child {
    text-align: right;
}
.profile_table td:last-child {
    font-weight: bold;
    color: #6c7274;
}
#content_container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2px;
    padding-bottom:2px;
    background-attachment: scroll;

    background-repeat: no-repeat;
    background-position: right center;
}

#logo_container {
    height: 90px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#main_container {
    height: 90px;
    width: 900px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#logo_image {
    width: 255px;
    height: 75px;
    margin-left: 50px;
    margin-top: 7px;
    float: left;
}
#logo_image:hover{
    opacity: 0.9;
}
#addOrderButton {
    font-family: "Century Gothic", serif ;
    font-size: 30px;
    padding: 1px 11px 3px 10px;
}

#top_bar_black {
    width: 100%;
    height: 90px;
    background-color: #000000;
}

#bottom_bar_black {
    width: 100%;
    height: 100px;
    background-color: #000000;
}
#login{
    margin-top: 50px;
}

#nav_block {
    width: 530px;
    height: 90px;
    float: right;

}
#arrow_img_a{
    margin-left: 5px;
}
#arrows_img{
    width: 8px;
    height: 11px;
    opacity: 0.1;
}
#arrows_img:hover{
    opacity:0.3;
}
#oth1{
    min-width: 70px;
    text-align: center;
}
#oth2{
    min-width: 103px;
}
#oth3{
    min-width: 120px;
}
#oth4{
    min-width: 85px;
}
.nav_button {
    width: 120px; /*This number you can edit when you need to add more with to fit your text inside the button */
    color: #FFFFFF;
    font-family: "Century Gothic", serif;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 35px;
    padding:3px;
    border-radius: 0.3em;
    text-align: center;
    float: left;
}

.nav_button:link {
    text-decoration: none;
}

.nav_button:hover {
    text-decoration: none;
    color: #c8c8c8;
}

.nav_button_reg {
    width: 80px; /*This number you can edit when you need to add more with to fit your text inside the button */
    color: #FFFFFF;
    background-color: #73e100;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 28px;
    padding:10px;
    border-radius: 0.3em;
    text-align: center;
    float: left;
}

.nav_button_reg:link {
    text-decoration: none;
}

.nav_button_reg:hover {
    text-decoration: none;
    background-color: #478d00;
}

#main_text{
    width: 380px;
    font-family: "Century Gothic", serif;
    font-size: 30px;
    margin-top: 30px;
    color: #e3e3e3;
    margin-left: 15px;
}

#sign_in_text{
    margin: 6px 8px;
    font-family: Verdana, serif;

}
.input_login {
    margin: 2px;
    padding: 8px;
    font-size: 15px;
    border-radius: 0.3em;
    border-color: #00A5E3 ;
}
.input_sign_in {
    margin: 2px;
    padding: 8px;
    background-color: #73e100;
    border-radius: 0.3em;
    border-color: #00A5E3 ;
}


#registration_form{
    margin-top: 40px;
}
.input_reg{
    margin-top: 2px;
    margin-left: 120px;
    padding: 8px 30px;
    background-color: #73e100;
    border-radius: 0.3em;
    border-color: #00A5E3 ;
}
.input_reg:hover{
    background-color: #60bf00;
    border-color: #008dc3;
}

.input_reg_demo{
    margin-top: 8px;
    margin-left: 150px;
    padding: 8px 30px;
    color:darkgrey;
    background-color: #fffdf8;
    border-radius: 0.3em;
    border-color: #dedde3;
}
.input_reg_demo:hover{
    color:black;
    background-color: #cbfcb8;
    border-color: #008dc3;
}

.input_changes{
    margin-left: 158px;
    padding: 8px 30px;
    background-color: #f9f800;
    border-radius: 0.3em;
    border-color: #00A5E3 ;
}
.input_changes:hover{
    background-color: #f1e700;
}
.button_addGroup {
    color: white;
    margin-top: 2px;
    margin-left: 190px;
    margin-bottom: 20px;
    padding: 8px 30px;
    background-color: #73e100;
    border-radius: 0.3em;
    border-color: #00A5E3 ;
}
.button_addGroup:hover{
    background-color: #66c900;
}
.button_addOrder {
    color: white;
    margin-left: 248px;
    margin-bottom: 20px;
    padding: 8px 30px;
    background-color: #73e100;
    border-radius: 0.3em;
    border-color: #00A5E3 ;
}
.button_addOrder:hover{
    background-color: #66c900;
}
.button_addGroup:hover{
    background-color: #66c900;
}
.block-center-registration{
    width: 400px;
    height: 540px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.input_registration {

    margin: 2px;
    text-align: right;
    font-family: Verdana, serif;

}
.input_registration input {
    padding: 8px;
    width: 220px;
    font-size: 15px;
    border-radius: 0.25em;
    border-color: #00A5E3 ;
}
.input_registration select {
    padding:8px 4px;
    width: 240px;
    font-size: 15px;
    border-radius: 0.25em;
    border: 2px inset black;
    border-color: #00A5E3 ;
}
.input_registration b {
    font-size:10px;
}
.input_add_member {
    margin: 4px 0px 0px 0px;
    line-height: 10px;
    text-align: right;
    font-family: Verdana, serif;
}
.input_add_member input{
    padding: 8px;
    width: 204px;
    font-size: 15px;
    border-radius: 0.25em;
    border-color: #00A5E3 ;
}
.input_add_member a{
    padding-top: 5px;
    display: block;
    width: 24px;
    height: 24px;
    float: right;
}
.input_add_bid {
    margin: 4px 0px 0px 0px;
    text-align: left;
    font-family: Verdana, serif;
}
.input_add_bid input{
    padding: 8px;
    width: 204px;
    margin-left: 10px;
    font-size: 15px;
    border-radius: 0.25em;
    border-color: #00A5E3 ;
}
.input_add_bid a{
    margin-top: 5px;
    display: block;
    width: 24px;
    height: 24px;
    float: left;
    margin-left: 1px;
}
#create_group{
    margin-top: 15px;
}
#button_addBid{
    color: white;
    margin-left: 35px;
    margin-top: 3px;
    padding: 8px 30px;
    background-color: #73e100;
    border-radius: 0.3em;
    font-family: "Century Gothic", serif;
    font-size: 12px;
    border: 2px inset #00A5E3;
    text-decoration: none;
}
#button_addBid:hover{
    background-color: #5dba00;
}
.check_registration_buttons{
    font-family: Verdana, serif;
    font-size: 15px;
    margin-top: 7px;
    margin-left: 160px;
}
.check_registration_buttons_2{
    font-family: Verdana, serif;
    font-size: 13px;
    margin-top: 3px;
    margin-left: 160px;
}

.nav_button_start {

    width: 200px; /*This number you can edit when you need to add more with to fit your text inside the button */
    color: #000000;
    background-color: #73e100;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 80px;
    padding:15px 7px;
    border-radius: 0.3em;
    text-align: center;
    float: left;

}

.nav_button_start:link {
    text-decoration: none;
}

.nav_button_start:hover {
    text-decoration: none;
    background-color: #478d00;
}
.main_image {

    width: 1500px;
    height:600px;
    background-color: black;
    margin-bottom: 2px;
}
.im_png {
    opacity:0.5;
    width:100%;
    height: 600px;
    background-attachment: fixed;
    background-repeat: inherit;
    background-image: url("../images/rynok.jpg");
}

.button_start{
    position: absolute;
    width: 150px;
    height: 50px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#header {
    width: 500px;
    margin-top: 100px;
    margin-bottom: 250px;
    float: left;
}

.header_content_mainline {
    font-size: 35px;
    color: #000000;
    width: 500px;
    font-style: italic;
}

#header_content_boxline {
    font-size: 35px;
    color: #000000;
    width: 400px;
    font-style: italic;
}

#header_content_lowerline {
    font-size: 20px;
    color: #FFFFFF;
    width: 400px;
}

#header_content_boxcontent {
    font-size: 12px;
    color: #333333;
    width: 400px;
}

#header_content_lowerboxcontent {
    font-size: 12px;
    color: #CCCCCC;
    width: 400px;
}

#header_content_tagline {
    font-size: 12px;
    color: #333333;
    width: 500px;
}

#header_lower {
    width: 400px;
    float: left;
    margin-right: 40px;
    font-family: "Century Gothic", serif;
}

/*Warning removing this means you must pay for this templete if you remove this you will be located and this will result in payment being required*/

#copywriteblock {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    color: #333333;
    font-size: 10px;
    margin-top: 10px;
    text-align: right;
    text-decoration: none;
    margin-bottom: 10px;
}
#addButton {
    color: white;
    text-decoration: none;
    font-weight:bold;
    font-size: 20px;
    border-radius: 0.3em;
    background-color: #2dcb00;
    padding: 5px 10px 8px 10px;
    margin-left: 10px;
    border: 2px inset #00A5E3;
}
#addButton:hover{
    background-color: #478d00;
}
#ratingButton{
    color: white;
    text-decoration: none;
    font-weight:bold;
    font-size: 14px;
    border-radius: 0.3em;
    background-color: #2dcb00;
    padding: 5px 16px 8px 16px;
    border: 2px inset #00A5E3;
}
#ratingButton:hover{
    background-color: #478d00;
}
#createGroupLogin{
    width: 160px;
    margin-bottom: 15px;
}
#createGroupCreateButton{
    margin-top:10px;
}
#parentId {
    display: none;
    margin: 5px 0 10px 6px;
    height:85px;
}
#parentIdGroup{
    margin: 23px 0 10px 6px;
}
#parentHint {
    height: 85px;
    margin: 5px 0 10px 0px;
}
#p_add_bid{
    margin-top: 4px;
    margin-left: 22px;
}
.response_buyer{
    margin-left: 30px;
}

.simple-little-table {
    font-family:Arial, Helvetica, sans-serif;
    max-width: 500px;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:20px;
    border:#ccc 1px solid;
    border-collapse:separate;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}

.simple-little-table th {
    font-weight:bold;
    padding:21px 25px 22px 25px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;

    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#d2ffc0), to(#fffdbf));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.simple-little-table th:first-child{
    text-align: left;
    padding-left:20px;
}
.simple-little-table tr:first-child th:first-child{
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
.simple-little-table tr:first-child th:last-child{
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
.simple-little-table tr{
    text-align: center;
    padding-left:20px;
}
.simple-little-table tr td:first-child{
    text-align: left;
    padding-left:20px;
    border-left: 0;
}
.simple-little-table tr td {
    padding:18px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.simple-little-table tr:nth-child(even) td{
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.simple-little-table tr:last-child td{
    border-bottom:0;
}
.simple-little-table tr:last-child td:first-child{
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
.simple-little-table tr:last-child td:last-child{
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
.simple-little-table tr:hover td{
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}

.simple-little-table a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}
.simple-little-table a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}
.simple-little-table a:active,
.simple-little-table a:hover {
    color: #bd5a35;
    text-decoration:none;
}
#raiting {position:relative; height:16px; cursor:pointer; width:83px; float:left} /* Блок рейтинга*/
#raiting_blank, #raiting_votes, #raiting_hover {height:16px; position:absolute}
#raiting_blank { background:url(../images/ratings.png); width:83px; } /* "Чистые" звездочки */
#raiting_votes {background:url(../images/ratings.png) 0 -16px} /*  Закрашенные звездочки */
#raiting_hover {background:url(../images/ratings.png) 0 -32px; display:none}  /*  звездочки при голосовании */
#raiting_info {margin-left:100px}
#raiting_info img{vertical-align:middle; margin:0 5px; display:none}